# .editorconfig - Android Kotlin project

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 100

[*.{kt,kts}]
indent_size = 4
continuation_indent_size = 4
insert_final_newline = true
kotlin_language_version = 1.9

# Organize imports: Android Studio handles this with settings, but you can enforce ordering via Ktlint
ij_kotlin_imports_layout = *,javax,java,^kotlin,android,^com,^net,^org

[*.xml]
indent_size = 4

[*.gradle]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
max_line_length = off

